body {
  background-color: white;
  position: relative;
  padding-top: 200px;
}

.timeline-gfx{
  position: absolute;
  width: 30%;
  height: 500px;
  background-color: rgba(100,100,100,0.5);
  left: 35%;
}

.timeline-vertical-line-gfx{
  position: absolute;
  width: 15px;
  border-radius: 15px;
  background-color: purple;
}

.timeline-circle{
  background-color: green;
  height: 40px;
  width: 40px;
  border-radius: 50px;
}

.article-collection-left{
  position: absolute;
  width: 30%;
  left: 15%;
  background-color: rgb(100, 100, 100);
}

.article-collection-right{
  position: absolute;
  padding-top: 75px;
  width: 30%;
  right: 15%;
  background-color: pink;
}

.article-block{
  border: 2px solid black;
  padding: 10px 10px 10px 10px;
  border-radius: 20px;
  margin-bottom: 20px;
}

.article-block-container{
  position: absolute;
  top: 120%;
  left: 15%;
}

.article-carrot-gfx{
  position: absolute;
  top: 2.5%;
  right: -2%;

  width: 0; 
  height: 0; 
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid orange;
}

.article-block-gfx{
  position: relative;
  margin-bottom: 200px;
  height: 280px;
  width: 30vw;

  border-top: 1px solid darkorange;
  border-bottom: 1px solid lightgrey;
  border-radius: 5px;
  background: lightgreen;
  overflow:hidden;
}

.article-block-header-gfx{
  width: 100%;
  height: 20%;
  padding: 10px 10px 10px 10px;
  background-color: orange;
  border-left: 1px solid darkorange;
}

.article-block-content-gfx{
  height: 60%;
  background-color: beige;
  width: 100%;
  padding: 10px 10px 10px 10px;
  border-left: 1px solid lightgrey;
  border-right: 1px solid beige;
}

.article-block-footer-gfx{
  padding: 5px 10px 5px 5px;
  background-color: beige;
  border-left: 1px solid lightgrey;
  height: 20%;
}

.article-class-img{
  height: 50px;
  width: 50px;
  background-size: contain;
  transform: rotate(50deg);
  border: 0px solid transparent !important;
}

.header-date{
  position: absolute;
  right: 2%;
  top: 0%;
  padding-top: 10px;
}