<!-- banner section -->
<section class = "container-fluid">
	<div id = "" class = "row">

		<div id = "intouch-banner-pic">
			<p class = "banner-text"> Get in Touch </p> 
		</div>

	</div>
</section>

<section class = container-fluid>
	<div id = contact-us-row class = "on-set off-set row">

		<div class = container>
			<div class = "off-row row">
				<!-- id = contact-us-inputs -->
				<form  class = "col-lg-7 col-md-7 col-sm-12 col-xs-12">

				<h2> Contact Us: </h2>
				
				<input class = intouch-field 
				type = 'text' 
				value = "First Name*"
				name = "firstName"> </input>
				
				<input class = intouch-field 
				type = 'text' 
				value = "Last Name*"
				name = "lastName">
				</input>
				
				</br>
				
				<input class = intouch-field 
				type = 'text' 
				value = "Email*"
				name = 'email'> 
				</input>

				</br>
				
				<input class = intouch-field 
				type = 'tel' 
				value = "Phone Number"
				name = phoneNum> 
				</input>

				</br>
				
				<input class = intouch-field 
				type = 'text' 
				value = "Title"
				name = 'title'> 
				</input>
				
				</br>
				
				<input class = intouch-field 
				type = 'text' 
				value = "Institution*"
				name = 'institution'> 
				</input>

				</form>


				<!-- !!! NEED TO PLAY AROUND WITH THIS, COULD BE SO MUCH BETTER !!! -->
				<div class =" col-lg-5 col-md-5 col-sm-12 col-xs-12">
					<img id = googMaps 
					src = "https://maps.googleapis.com/maps/api/staticmap?center=University+of+Chicago,Chicago,IL&zoom=13&size=500x500&maptype=roadmap&key=AIzaSyDpvD-leFaBQDdUXtjjrXcfSjYLTlk8vu0">
					<h1 id = googMaps-address> Address: SOMETHING </h1>
					</img>
				</div>
			</div>
		</div>

	</div>
</section>

<section>
	<div class = container-fluid>

		<div class = "off-set on-set row">
			<textarea  id = message-field class = " col-lg-12 col-md-12 col-sm-12 col-xs-12"> Enter Message Here... </textarea>
		<button id = msg-snd-btn type="button">Send</button>
		</div>
	
	</div>
	
</section>