<% provide(:title , "Latona Theraputics, About Us") %>
<section class = "container-fluid">
	<div class = "row">

		<div id = "about_us_header_picture" class = "about_us">
			<p class = "banner-text"> About Us </p> 
		</div>

	</div>
</section>

<div class = "container">
	<div class = "mainpg_c1 row">
		<div id = "mission_statement_ct" class = "col-lg-12 col-md-12 col-sm-12">
			<div>
				Mission Statement
			</div>
			
			<div id = "mission_statement_content">
				<h1>
					Our mission is to use light-activated chemotherapy
					to improve patient outcomes and quality of life during
					treatment.
				</h1>
			</div>
		</div>
	</div>
</div>

<div class = "container-fluid">
	<div class = "layout-1 row">
		<div class = "container"> 
			<div class = "row">
				<div id = "our_story_container" class = "col-lg-12 col-md-12 col-sm-12">
					<div>
						Our Story
					</div>
					
					<div id = "our_story_content">
						<h1> 
							We are a Chicago-based team of scientists, engineers, and business professionals, all with a passion for 
							developing safer and more effective healthcare treatments. Through the Nano Startup Challenge in Cancer, hosted by The Center for Advancing Innovation (CAI) 
							and the National Institutes of Health (NIH), we developed a business plan for commercializing an NIH patent in nanotechnology. 
							We became one of 10 winners of the competition, and have since never looked back.
							We created Latona Therapeutics to develop this technology with the hope of saving lives.
						</h1>
					</div>
				</div>
			</div>	
		</div>
	</div>
</div>


<div class = "container-fluid">
	<div class = "person-row row">


		<h1> Latona's Team </h1>

		<div id = "person-tile-row" class = click>

			<div id = "person1" class = "person-tile">
				<p> person 1 </p>
			</div>

			<div id = "person2" class = "person-tile">
				<p> person 2 </p>
			</div>

			<div id = "person3" class = person-tile>
				<p> person 3 </p>
			</div>

			<div id = "person4" class = person-tile>
				<p> person 4 </p>
			</div>
			
			<div id = "person5" class = person-tile>
				<p> person 5 </p>
			</div>										

			<div id = "person6" class = person-tile>
				<p> person 6 </p>
			</div>

			<div id = "person7" class = person-tile>
				<p> person 7 </p>
			</div>							
		</div>

	</div>
</div>

<div class = "container-fluid">
	<div class = "row">
		<div id = "persons_bio_container" class = "col-lg-12 col-md-12 col-sm-12";>
			<div class = "persons_bio"> <!-- id also becomes bio-text-layout-xxxx based on js -->
				<!-- bio text is found by JS to update css styling -->
				<div>
					<h2>Biography Need JavaScript.  
						This will change based on person clicked</h2>
				</div>
			</div>
		</div>	
	</div>
</div>



