<% provide(:title , "Latona Theraputics") %>

<div class = "container-fluid">
	<div class = "row">
		<div class = "mainpg_bg">
		<h1 class = "intro_phrase"> <strong> Developing a nanotechnology platform that revolutionizes chemotherapy </strong> </h1>
		
		<div class = "row" id = youtube-row>
				<button type="button" class="youtube-video btn btn-default" aria-label="Left Align">
				  <a href = "https://www.youtube.com/embed/hKtXK52yHCQ">
				  <span class="glyphicon glyphicon-play" aria-hidden="false"></span>
				  </a>
				</button>
			
		</div>

	</div>
</div>

<!-- <div class = "container-fluid">
	<div class = "row">
		<div class = "embedded_intro_vid col-lg-12 col-md-12 col-sm-12">
			<iframe width="1000" height="500" src="https://www.youtube.com/embed/hKtXK52yHCQ" frameborder="15" allowfullscreen></iframe>
		</div>
	</div>
</div> -->

<!-- this is the horizontal block design 
<div class = "container-fluid">
	<div id = technology-section class = row>
		<div class = "section-title-layout1">
			<h1> <strong>Our Technologies Comprise of Three Elements</strong></h1>
		</div>
		
		<div id = main-block>
			<div id = main-block class = "block1"></div>
			<div class = "block1"></div>
			<div class = "block1"></div>
		</div> 
		<div class = container>
			<div class = row>
				<div id = "capability-container" class = "col-lg-12 col-md-12 col-sm-12 col-xs-12">
					Photoactivatable nanoparticles that release drug and reactive oxygen species
				</div>
					
				<div id = capability-container class = "col-lg-12 col-md-12 col-sm-12 col-xs-12">
					a near-IR light device for targeting the cancer tissue
				</div>
					
				<div id = capability-container class = "col-lg-12 col-md-12 col-sm-12 col-xs-12">
					motion activated toilets that never flush when you're sitting on them
				</div>
			</div>
		</div>
		
		<!-- This is just the plain text with the image to the right -->
		<!-- <div id = technology-section-content 
		class = "layout-1 col-lg-4 col-md-12 col-sm-12 col-xs-12">
		
				<h3>1) Photoactivatable nanoparticles that release drug and reactive oxygen species <br><br>
				2) a near-IR light device for targeting the cancer tissue <br><br>
				3) motion activated toilets that never flush when you're sitting on them <br><br>
				<br> </h3>
				<h2>Why are we excited about developing this technology? </h2>
				<h3>(+) Light-based targeting enables selective killing of tumor but not healthy tissue <br>
				(+) The technology is a drug-delivery platform for encapsulating and releasing warheads</h3>
			
		</div>
		
		<div id = technology-section-image 
		class = "col-lg-8 col-md-12 col-sm-12 col-xs-12"> -->
		<!-- add image of device  -->
		<!-- </div>
		
	</div>
</div> -->

<!-- This is the vertical blocks layed out in one row -->

<section id = section-layout class = "layout-3 container">
	<h1> <strong> Our Technologies </strong> </h1>
	<div id = "layout-3-row" 
	class = "off-row row">

		<div id = "capability-1" class = "capability-content col-lg-6 col-md-12 col-sm-12 col-xs-12">
			<div class = cap-image1> </div>
			<h2> Nanoparticles </h2>
			Photoactivatable nanoparticles that release drug and reactive oxygen species 
		</div>
		
		<div id = "capability-2" class = "capability-content col-lg-6 col-md-12 col-sm-12 col-xs-12">
			<div class = cap-image2> </div>
			<h2> IR Technology </h2>
			A near-IR light device for targeting the cancer tissue
		</div>

	</div>
</section>
	
	
	<!-- Why are we excited about this technology section -->	
<section>
	<div class = container-fluid>
		<div class = row>

			<div id = section-layout class = container>
				<div id = benefits class = "off-row row">
						<h1> Why are we excited about this technology...</h1>
					<div id = benefits-1 class = "benefits col-lg-12 col-md-12 col-sm-12 col-xs-12">
						
						<div class = container-fluid>
							<div class = "off-row row">
								<div class = "benefit-image-1 icon">
								</div>
							</div>
							
							<div class = "caption-center-align row off-row">
								Light-based targeting enables selective killing of tumor but not healthy tissue
							</div>
						</div>	
					</div>
					
					<div id = benefits-2 class = "benefits col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class = container-fluid>
							<div class = "row off-row">
								<div class = "benefit-image-2 icon">
								</div>
							</div>
							
							<div class = "caption-center-align row off-row">
								The technology is a drug-delivery platform for encapsulating and releasing warheads
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>	
	</div>
</section>





