<secion class = "container-fluid">
	<div class = "row">
		<div id = "therapy-banner-pic"> 
			<p class = "banner-text"> Therapy </p> 
		</div>
	</div>
</section>

<section class = container-fluid> 

	<div id = how-tech-works class = row>

	<div id = how-tech-works-img> </div>
		<div id = how-tech-works-content> 

		<ul>
		<h3> How does it work? </h3>

		<li> Inactive drug-encapsulated liposal nanoparticles are utilized </li>
		<li> Activated by near-infrared (NIR) light to generate reactive oxygen species (ROS) </li>
		<li> release encapuslated drug from the liposome </li>
		</ul>

		<div id = therapy-content-lnk>
			<a href = 'https://www.google.com/patents/WO2015006429A1?cl=en'> Learn More </a>
		</div>

		</div>
	</div>
</section>

<section class = container-fluid> 

	<div id = therapy-flow class = row>

		<div id = therapy-flow-content class = "col-lg-4 col-md-12 col-sm-12 col-xs-12"> 

		<ul>
		<h3> The work flow has only 3 steps
		It should take only a few hours, 
		and should cause minimal side effects </h3>

		</div>

		<div class = "col-lg-8 col-md-12 col-sm-12 col-xs-12"
		id = therapy-flow-img > </div>
		</div>

	</div>
</section>


<!-- !!! TO BE INCLUDED LATER??? !!! -->
<!-- <section class = "container-fluid">
	<div id = CAD-section class = "on-set row">
		<div id = CAD-img> </div>
		<div id = CAD-content> 
		<h3> We have designed a solution that can deliver light locally while keeping the procedure minimally invasive. </h3>
		</div>
	</div>
</section> -->

<section class = "on-set container-fluid">

	<div class = "row off-row">
		<h1 class = section-title> Our Target: Triple-Negative Breast Cancer (TNBC) </h1>
	</div>

<div id = breast-cancer-chart class = "row off-row">
	<div id = breast-cancer-chart-img> </div>
	<div id = breast-cancer-chart-content> 
	<h3> What is TNBC? </h3>
	<ul>
		<li> 10-20% of breast cancer cases, but far lower survivle rate </li>
		<li> More aggressive and likely to recur </li>
		<li> No FDA-approved targeted therapies </li>
	</ul>

	<h3> Here's an example of what a patient went through following diagnosis</h3>
	<ul>
		<li> 6 rounds of ACT chemo </li>
		<li> lumpectomy + lymph node surgery </li>
		<li> 33 radiation treatments </li>
		<li> 8 months Xeloda chemo </li>
	</ul>
	</div>
</div>
</section>

<section class = container-fluid>
	<div id = patient-benefit class = row>
		<h3> How will patients benefit? </h3>
		<h4> fewer side effects and complications -> faster recovery time between treatment sessions </h4>
		<h3> Efficacty </h3>
		<h4> More lethal kill zone at site of tumor -> better changes of surgery success, lower chance of recurrence </h4>
	</div>
</section>