<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<link rel = 'stylesheet' type = "text/css" href = "../../css/styles.css.scss">

<link rel = 'stylesheet' type = "text/css" href = "../../css/about_us.css.scss">

<script src = "../../js/jquery-3.1.1.min.js"></script>

<script src = "../../js/angular.min.js"> </script>

<script src = "../../js/angular.route.min.js"> </script>

<script src = "../../js/indexAngJS.js"></script>

<html ng-app = "indexApp">


<!-- this adds the header into the page -->
<header ng-controller = "appendHeaderAndFooter"><body class = "header"></body></header>

<!-- page banner -->
<section class = "container-fluid banner">
	<div class = "row">

		<div id = "about_us_header_picture" class = "about_us">
			<p class = "banner-text"> About Us </p> 
		</div>

	</div>
</section>

<section class = >
	<section class = "container-fluid container-odd">
		<section class = "container">
			<div class = "row">
				<h1> Mission Statement </h1>
				<div>
				Our mission is to use light-activated chemotherapy
				to improve patient outcomes and quality of life during
				treatment.
				</div>
			</div>
		</section>
	</section>
</section>

<section class = "container-fluid container-even">
	<section class = container>
		<div class = "our-story row">
			<h1> Our Story </h1>
			<div>
				We are a Chicago-based team of scientists, engineers, and business professionals, all with a passion for 
				developing safer and more effective healthcare treatments. Through the Nano Startup Challenge in Cancer, hosted by The Center for Advancing Innovation (CAI) 
				and the National Institutes of Health (NIH), we developed a business plan for commercializing an NIH patent in nanotechnology. 
				We became one of 10 winners of the competition, and have since never looked back.
				We created Latona Therapeutics to develop this technology with the hope of saving lives.
			</div>
		</div>
	</section>
</section>

<section class = >
	<section id = "about-us-container"
			 ng-controller = "aboutUsPortraits" 
			 class = "container">
			 
		<div class = "latona-team-row row">
			<h1 id = "latona-team-title"> The Latona Team </h1>
			
			<div class = "portrait-collection">

			<!-- Should create an ng-repeat to populate this stuff -->

				<div id = p1 class = bio-portrait
					 data-ng-click = portraitClick($event) 
					 ng-mouseover = portraitHoverOn($event)
					 ng-mouseleave = portraitHoverOff($event) ></div>

				<div id = p2 class = bio-portrait
					 data-ng-click = portraitClick($event)
					 ng-mouseover = portraitHoverOn($event)
					 ng-mouseleave = portraitHoverOff($event) ></div>

				<div id = p3 class = bio-portrait
					 data-ng-click = portraitClick($event) 
					 ng-mouseover = portraitHoverOn($event)
					 ng-mouseleave = portraitHoverOff($event) ></div>

				<div id = p4 class = bio-portrait
					 data-ng-click = portraitClick($event) 
					 ng-mouseover = portraitHoverOn($event)
					 ng-mouseleave = portraitHoverOff($event) ></div>

				<div id = p5 class = bio-portrait
					 data-ng-click = portraitClick($event) 
					 ng-mouseover = portraitHoverOn($event)
					 ng-mouseleave = portraitHoverOff($event) ></div>

				<div id = p6 class = bio-portrait
					 data-ng-click = portraitClick($event) 
					 ng-mouseover = portraitHoverOn($event)
					 ng-mouseleave = portraitHoverOff($event) ></div>

				<div id = p7 class = bio-portrait
					 data-ng-click = portraitClick($event) 
					 ng-mouseover = portraitHoverOn($event)
					 ng-mouseleave = portraitHoverOff($event) ></div>

			</div>

			<!-- maybe can make an un-focus and focused state -->
			<div class = "portrait-unfocused"></div>

			<!-- maybe use a custom directive to bind click event to content update??? -->
			<div class = "biography">
				Our eclectic team of engineers, researchers, buisnesses people are teh best in the world and they rock.  Rock your socks off! 
			</div>
		
		</div>
	</section>
</section>

<section class = "container-even">
	<section class = "container">
		<section class = "row">
			<h1 id = "latona-team-title"> The Latona Advisors </h1>
		</section>
	</section>
</section>

<footer ng-controller = "appendHeaderAndFooter"><body class = "footer"></body></footer>
</html>

