<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<link rel = 'stylesheet' type = text/css href = ../../css/styles.css.scss>

<script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>

<script src = js/angular.min.js> </script>

<script src = "js/angular.route.min.js"> </script>

<script src = "js/indexAngJS.js"></script>

<html ng-app = indexApp>

<!-- this adds the header into the page -->
<header ng-controller = appendHeaderAndFooter><body class = header></body></header>

<div class = "container-fluid">
	<div class = "row">
		<div class = "mainpg_bg">
		<h1 class = "intro_phrase"> <strong> Developing a nanotechnology platform that revolutionizes chemotherapy </strong> </h1>
		
		<div class = "row" id = youtube-row>
				<button type="button" class="youtube-video btn btn-default" aria-label="Left Align">
				  <a href = "https://www.youtube.com/embed/hKtXK52yHCQ">
				  <span class="glyphicon glyphicon-play" aria-hidden="false"></span>
				  </a>
				</button>
			
		</div>

	</div>
</div>

<!-- This is the vertical blocks layed out in one row -->

<section id = section-layout class = "layout-3 container">
	<h1> <strong> Our Technologies </strong> </h1>
	<div id = "layout-3-row" 
	class = "off-row row">

		<div id = "capability-1" class = "capability-content col-lg-6 col-md-12 col-sm-12 col-xs-12">
			<div class = cap-image1> </div>
			<h2> Nanoparticles </h2>
			Photoactivatable nanoparticles that release drug and reactive oxygen species 
		</div>
		
		<div id = "capability-2" class = "capability-content col-lg-6 col-md-12 col-sm-12 col-xs-12">
			<div class = cap-image2> </div>
			<h2> IR Technology </h2>
			A near-IR light device for targeting the cancer tissue
		</div>

	</div>
</section>
	
	
	<!-- Why are we excited about this technology section -->	
<section>
	<div class = container-fluid>
		<div class = row>

			<div id = section-layout class = container>
				<div id = benefits class = "off-row row">
						<h1> Why are we excited about this technology...</h1>
					<div id = benefits-1 class = "benefits col-lg-12 col-md-12 col-sm-12 col-xs-12">
						
						<div class = container-fluid>
							<div class = "off-row row">
								<div class = "benefit-image-1 icon">
								</div>
							</div>
							
							<div class = "caption-center-align row off-row">
								Light-based targeting enables selective killing of tumor but not healthy tissue
							</div>
						</div>	
					</div>
					
					<div id = benefits-2 class = "benefits col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class = container-fluid>
							<div class = "row off-row">
								<div class = "benefit-image-2 icon">
								</div>
							</div>
							
							<div class = "caption-center-align row off-row">
								The technology is a drug-delivery platform for encapsulating and releasing warheads
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>	
	</div>
</section>

<footer ng-controller = appendHeaderAndFooter><body class = footer></body></footer>
</html>



