<head>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- <link rel = 'stylesheet' type = "text/css" href = "../../css/bootstrap.min.css"> -->

	<link rel = 'stylesheet' type = "text/css" href = "../../css/styles.css.scss">

	<link rel = "stylesheet" type = "text/css" href = "../../css/therapy.css">

	<script src = "../../js/jquery-3.1.1.min.js"></script>

	<script src = "../../js/angular.min.js"> </script>

	<script src = "../../js/angular.route.min.js"> </script>

	<script src = "../../js/therapy.js"></script>

	<script src = "../../js/indexAngJS.js"></script>

	<script src = "../../js/LatonaTheraputicsGeneral.js"></script>
	
</head>


<html ng-app = "indexApp">

<!-- this adds the header into the page -->
<header ng-controller = "appendHeaderAndFooter"><body class = "header"></body></header>

<!-- page banner -->
<secion class = "container-fluid">
	<div class = "row banner">
		<div id = "therapy-banner-pic"> 
			<p class = "banner-text"> Therapy </p> 
		</div>
	</div>
</section>

<!-- Section: How it works -->
<section class = "container-fluid"> 
	<div class = "how-tech-works row">


		<div class = "how-tech-works-img"> </div>

		
		<div class = "how-tech-works-content"> 
				<h2 class = "therapy-section-title-typg"> How does our technology work? </h2>

				<p class = "therapy-section-typg"> 
				Inactive drug-encapsulated liposal nanoparticles are
				utilized and activated by near infrared (NRI) light to generate reactive oxygen species (ROS) to release encapuslated drug from the liposome
				</p>
							
<!-- 			<ul>
				<li> Inactive drug-encapsulated liposal nanoparticles are utilized </li>
				<li> Activated by near-infrared (NIR) light to generate reactive oxygen species (ROS) </li>
				<li> Release encapuslated drug from the liposome </li>
			</ul> -->

			<div class = "therapy-content-lnk">
					<button id = "learn-more-link" href = 'https://www.google.com/patents/WO2015006429A1?cl=en'> Learn More </button>
			</div>

		</div>

	</div>
</section>

<section class = "container-fluid"> 
	<div  class = "therapy-particle bkg-color-1 row">

		<div class = "therapy-particle-content"> 

			<h2 class = "therapy-section-title-typg ssection-typg-color"> Stylized Theraputics "Kill Zone"</h2>

			<p class = "therapy-section-typg section-typg-color">
				<b> Red Area </b>: Near-infrared light activation causes photo-activation of liposomes <br>
				
				<b> Orange Area </b> : Reactive Oxygen specices extend slightly beyond <br>

				<b> Green Area </b>: ????
			</p>
		</div>

		<div class = "therapy-particle-img"></div>

	</div>
</section>

<section class = "container-fluid"> 
	<div  class = "therapy-flow row">

		<div class = "therapy-flow-content">
			<h2 class = "therapy-section-title-typg"> How we treat cancer </h2> 
			<p class = "therapy-section-typg"> The work flow has only 3 steps
			It should take only a few hours, 
			and should cause minimal side effects </p>
		</div>

		<div class = "therapy-flow-img col-lg-8 col-md-12 col-sm-12 col-xs-12"></div>
		
	</div>
</section>

<!-- <section class = "on-set container-fluid">

	<div class = "row off-row">
		<h1 class = "section-title"> Our Target: Triple-Negative Breast Cancer (TNBC) </h1>
	</div>

<div id = "breast-cancer-chart" class = "row off-row">
	<div id = "breast-cancer-chart-img"> </div>
	<div id = "breast-cancer-chart-content"> 
	<h3> What is TNBC? </h3>
	<ul>
		<li> 10-20% of breast cancer cases, but far lower survivle rate </li>
		<li> More aggressive and likely to recur </li>
		<li> No FDA-approved targeted therapies </li>
	</ul>

	<h3> Here's an example of what a patient went through following diagnosis</h3>
	<ul>
		<li> 6 rounds of ACT chemo </li>
		<li> lumpectomy + lymph node surgery </li>
		<li> 33 radiation treatments </li>
		<li> 8 months Xeloda chemo </li>
	</ul>
	</div>
</div>
</section>

<section class = "container-fluid">
	<div id = "patient-benefit" class = "row">
		<h3> How will patients benefit? </h3>
		<h4> fewer side effects and complications -> faster recovery time between treatment sessions </h4>
		<h3> Efficacty </h3>
		<h4> More lethal kill zone at site of tumor -> better changes of surgery success, lower chance of recurrence </h4>
	</div>
</section>



<footer ng-controller = "appendHeaderAndFooter"><body class = "footer"></body></footer>
</html>
