<head>
	<title> Latona Therapy </title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- <link rel = 'stylesheet' type = "text/css" href = "../../css/bootstrap.min.css"> -->

	<link rel = 'stylesheet' type = "text/css" href = "../../css/styles.css.scss">

	<link rel = "stylesheet" type = "text/css" href = "../../css/therapy.css">

	<script src = "../../js/jquery-3.1.1.min.js"></script>

	<script src = "../../js/angular.min.js"> </script>

	<script src = "../../js/angular.route.min.js"> </script>

	<script src = "../../js/therapy.js"></script>

	<script src = "../../js/indexAngJS.js"></script>

	<script src = "../../js/LatonaTheraputicsGeneral.js"></script>
	
</head>


<html ng-app = "indexApp">
<div ng-controller = "appendHeaderAndFooter">

<!-- this adds the header into the page -->
<body class = "header"></body>

<!-- page banner -->
<secion class = "container-fluid">
	<div class = "row banner">
		<div id = "therapy-banner-pic"> 
			<p class = "banner-text"> Therapy </p> 
		</div>
	</div>
</section>

<!-- Section: How it works -->
<section class = "container-fluid"> 
	<div class = "how-tech-works row">


		<div class = "how-tech-works-img"> </div>

		
		<div class = "how-tech-works-content"> 
				<h2 class = "therapy-section-title-typg"> How does our technology work? </h2>

				<p class = "therapy-section-typg"> 
				Inactive drug-encapsulated liposal nanoparticles are
				utilized and activated by near infrared (NRI) light to generate reactive oxygen species (ROS) to release encapuslated drug from the liposome
				</p>
							
<!-- 			<ul>
				<li> Inactive drug-encapsulated liposal nanoparticles are utilized </li>
				<li> Activated by near-infrared (NIR) light to generate reactive oxygen species (ROS) </li>
				<li> Release encapuslated drug from the liposome </li>
			</ul> -->

			<div class = "therapy-content-lnk">
					<a id = "learn-more-link" href = 'https://www.google.com/patents/WO2015006429A1?cl=en'> Learn More </a>
			</div>

		</div>

	</div>
</section>

<section class = "container-fluid"> 
	<div  class = "therapy-particle bkg-color-1 row">

		<div class = "therapy-particle-content"> 

			<h2 class = "therapy-section-title-typg section-typg2-color"> Stylized Theraputics <span class = "keyword"> Kill Zone </span></h2>

			<p class = "therapy-section-typg section-typg2-color">
				<b> Red Area </b>: Near-infrared light activation causes photo-activation of liposomes <br>
				
				<b> Orange Area </b> : Reactive Oxygen specices extend slightly beyond <br>

				<b> Green Area </b>: ????
			</p>
		</div>

		<div class = "therapy-particle-img"></div>

	</div>
</section>

<section class = "container-fluid"> 
	<div  class = "therapy-flow row">

		<div class = "therapy-flow-content">
			<h2 class = "therapy-section-title-typg"> How we treat cancer </h2> 
			<p class = "therapy-section-typg"> The work flow has only 3 steps
			It should take only a few hours, 
			and should cause minimal side effects </p>
		</div>

		<div class = "therapy-flow-img col-lg-8 col-md-12 col-sm-12 col-xs-12"></div>
		
	</div>
</section>


<section>
	<div class = "container-fluid">
		<div class = "patient-benefit bkg-color-1 section-typg2-color row">
			<div class = " therapy-section-typg patient-benefit-content">
				 <p class = "therapy-section-title-typg"> How will patients benefit </p>
				 <p class = "therapy-section-title-typg"> Safety </p>
				 <p> Fewer side effects -> faster recovery time between treatment sessions </p>
				 <p class = "therapy-section-title-typg"> Efficacy </p>
				 <p> More lethal kill zone at site of tumor -> better chance of surgery success, lower change of recurrence </p>
			</div>
		 </div>
	</div>
</section>

<!-- This generates the footer -->
<footer class = "footer"></footer>

</div>
</html>
