<head>
	<title> AngularJS Play </title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<script src = "../../js/angular.min.js"> </script>

	<script src = "../../js/angular.route.min.js"> </script>

	<script src = "../../js/AngularJSFile.js"></script>

	<link rel="stylesheet" href = "../../css/generalStyling.css"></link>
</head>

<html ng-app = "angularJSPlayApp">
	<section ng-controller = "wordBank" >

		<h1> Basic NG-repeat functionality </h1>
		<h2 ng-repeat = "item in items">
			name: {{item.name}} ; qty: {{ item["quantity"]}}
		</h2>

		<section-separator></section-separator>

		<!-- Currently not working -->
		<h1> {{title}} </h1>
		<get-template></get-template>

	</section>

	<section-separator></section-separator>

	<section ng-controller = "windowResizeFunctionality">
		<h1> {{ title }} </h1>
		<resize-window-functionality></resize-window-functionality>
	</section>

	<section-separator></section-separator>

	<section class = "container-fluid" ng-controller = "dynamicElements">
		<div class = "row">
			<h1 class = "section-title"> {{title}} </h1>
			<div class = "frame">
				<window-resize-behavior ng-repeat = "block in blockElements">
					<div class = "article-block" ng-class-odd = "'odd-article'" ng-class-even = "'even-article'">
						<h4 class = "article-content"> {{$index}} - Content: {{block.content}} </h4>
					</div>
			</window-resize-behavior>
			</div>
		</div>
	</section>

</html>