<!-- Template for header -->
<nav id = "website-header" class="navbar navbar-default navbar-fixed-top">
		<div class="container"> 
			
			<div id = 'header-image-container' class ='navbar-header'>
				<a href= latonaTheraputicsHome.html class ="pull-left">
					<div id='logo-img' alt="Logo Image"></div>
				</a>
			</div>
			
			<button type="button"
			id = collapsed-toggle-btn 
			class = "navbar-toggle"
			data-toggle = "collapse"
			data-target = "#collapsed-header-btns">
				<span class = "icon-bar"></span>
				<span class = "icon-bar"></span>
				<span class = "icon-bar"></span>
			</button>

			<nav id = collapsed-header-btns 
			class  = 'collapse navbar-collapse'>
				<ul class= "page_list nav navbar-nav navbar-right">
					<li><a href = ../static/views/latonaTheraputicsHome.html> Home </a> </li>
					<li> <a href = ../static/views/therapy.html> Therapy </a> </li>
					<li> <a href = ../static/views/about_us.html> About Us </a> </li>
					<li><a href = ../static/views/news.html> News </a> </li>
					<li> <a href = ../static/views/getintouch.html> Get In Touch </a> </li>
					<li><a href = ../static/views/partners.html> Partners </a> </li>
				</ul>
			</nav>
	</div>
</nav>
