<!-- Template for header -->
<nav  class="navbar navbar-default navbar-fixed-top">
		<div class="container"> 
			
			<div class ='navbar-header'>
				<a href= latonaTheraputicsHome.html class ="pull-left">
					<div class='logo-img' alt="Logo Image"></div>
				</a>
			</div>
			
			<button type="button"
			id = "collapsed-toggle-btn" 
			class = "navbar-toggle"
			data-toggle = "collapse"
			data-target = "#collapsed-header-btns">
				<span class = "icon-bar"></span>
				<span class = "icon-bar"></span>
				<span class = "icon-bar"></span>
			</button>

			<nav 
			class  = 'collapse navbar-collapse collapsed-header-btns'>
				<ul class= "page_list nav navbar-nav navbar-right">
					<li><a href = "latonaTheraputicsHome.html"> Home </a> </li>
					<li> <a href = "therapy.html"> Therapy </a> </li>
					<li> <a href = "about_us.html"> About Us </a> </li>
					<li><a href = "news.html"> News </a> </li>
					<li> <a href = "getintouch.html"> Get In Touch </a> </li>
					<li><a href = "partners.html"> Partners </a> </li>
				</ul>
			</nav>
	</div>
</nav>
