<header>
<!--   <script src = "../../js/angular.min.js"> </script>
 -->  
<!--  <link rel = 'stylesheet' type = "text/css" href = "../../css/timelineArticleBlock.css"> -->
<!--     <script src = "../../js/latonaTheraputicsAngJS.js"></script> -->
</header>


<!-- <section ng-app = "latonaTheraputicsAngJS"> -->
<!-- <section ng-controller = "appendTimelineInfo"> -->
  <section id = "article-block-left">
        <div class = "article-block-container">
          <div class = "article-block-gfx">
            <div class = "article-block-header-gfx"> 
            <div class = "article-left-carrot-gfx"></div>
              <p class = "title"> <b> Test - {{entry["title"]}} </b> </p>
              <p class = "header-date"> {{entry["date"]}} </p>
            </div>
            <div class = "article-block-content-gfx"> <p class = "article-content"> {{ entry["article content"] }} </p> </div>
              <div class = "article-block-footer-gfx">

                <!-- need to update with angularJS $scope value for img source--> 
                <img class = "article-class-img"
                     src = "../../css/images/rocketyShipIcon.png"> </img>
                <p class = "article-type"> {{entry["article type"]}} </p>
              </div>
          </div>
        </div>
  </section>
<!-- </section> -->
<!-- </section> -->